<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
{% load crispy_forms_tags  %}
<body>
<div class="container" style="margin-top: 200px">
    <form method="post" action="{% url 'users:login' %}" class="form-control">
        {% csrf_token %}
        <div class="container py-5">
            <h3>Login</h3>
            <div>
                {{ form | crispy }}
            </div>
            <div style="margin-top: 20px">
                <button type="submit" class="btn btn-primary" >Ingresar</button>
                <a href="{% url 'users:signin' %}" class="btn btn-secondary">Register</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>